<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello Spring-MVC</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${session.user.username}'"></h1>

<form th:action="@{/addbike}" method="post">
  <label for="b">Brand:</label>
  <input id="b" type="text" name="brand">
  <br>
  <label for="c">Size:</label>
  <input type="text" id="c" name="size">
  <br>
  <label for="s">Color:</label>
  <input type="text" id="s" name="color">
  <br>
  <button type="submit">Submit</button>
</form>
</body>
</html>