<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eiffel Bike Rent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${session.user.username}"></h1>

<form th:action="@{/rental}" th:object="${integerThymeleafUtil}" method="post">
    <select id="bs" name="id">
        <option th:each="bike : ${bikelist}" th:value="${bike.getId()}" th:text="${bike}"></option>
    </select>

    <button type="submit">Rent</button>
</form>
</body>
</html>