<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Eiffel Bike Rent</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${session.user.username}"></h1>

<p>Select a bike to return</p>
<form th:action="@{/return}" th:object="${integerThymeleafUtil}" method="post">
  <select id="bs" name="id">
    <option th:each="bike : ${bikelist}" th:value="${bike.getId()}" th:text="${bike}"></option>
  </select>

  <button type="submit">Return</button>
</form>
</body>
</html>