<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Eiffel Bike Rent</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
        body {
            display: flex;
            align-items:center;
            justify-content: center;
        }
        div {
            margin-bottom: 10px;
        }
        label {
            display: inline-block;
            width: 80px;
        }
        input {
            width: 150px;
            padding: 5px 10px;
        }
        button {
            margin: 0 auto;
            display: block;
            height: 40px;
            width: 255px;
        }
    </style>
</head>
<body>
<div>
  <h1 style="text-align: center;" th:text="${session.user.username}"></h1>
  <p th:text="${bike}"></p>

  <form th:action="@{/return/feedback}" th:object="${feedback}" method="post">
    <div>
      <label for="s">Score :</label>
      <input id="s" type="number" name="score" min="0" max="20">
    </div>
    <div>
      <label for="c">Comment :</label>
      <input type="text" id="c" name="comment">
    </div>
    <button type="submit">Confirm</button>
  </form>
</div>
</body>
</html>